<!DOCTYPE html>
<html><head>
	<title>Phptestr</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" href="/view/frontend/phptestr.css" />
	<link rel="stylesheet" href="/view/main.css" />
	<link rel="stylesheet" href="/view/highlight.js/googlecode.css" />
	<script type="text/javascript" src="/view/frontend/phptestr.js"></script>
	<script type="text/javascript" src="/view/frontend/settings.js"></script>

</head><body>





<script type="template/docviewjs" id="Tmpl.AppView">
	<AppView>
		<View id="Panels" layout="HorizontalFlex" />
		<View id="Tests" class="hfill">
			<Accordion id="Failed" behaviour="" />
			<Accordion id="Passed" behaviour="" />
		</View>
		<Button text="Exit" id="Exit" state="inverse" />
	</AppView>
</script>







<script type="template/docviewjs" id="Tmpl.TraceView"><Template>
<PanelTitle layout="HorizontalFlex">
	<Label class="fill no-overflow-x" text="Stack trace" />
	<Button text="close" state="small" behavior="CloseTraceButton" />
</PanelTitle>
<Accordion class="fill">
<% data.forEach( function ( trace, i ) { 
	var code = {}.merge( trace );
	delete code.file;
	delete code.line;
	code = _stringify( code );
	if ( code == '{}' ) {
		code = '';
	}
	%>
	<AccordionItem <%= i == 0 ? ' state="active"' : ''%>>
		<Label class="AccordionItemTitle" text="<%! trace.file %> @<%! trace.line %>" behavior="TraceLink" data="<%= $bind( { file: trace.file, line: trace.line } ) %>" />
		<CodeBlock><![CDATA[<%= hljs.highlight( 'javascript', code ).value %>]]></CodeBlock>
	</AccordionItem>
<% } ); %>
</Accordion>
</Template></script>






<script type="template/docviewjs" id="Tmpl.CoverageView"><Template>
<PanelTitle layout="HorizontalFlex">
	<Label class="fill no-overflow-x" text="Coverage" />
	<Button text="close" state="small" behavior="CloseCoverageButton" />
</PanelTitle>
<Accordion class="fill">
<%
	var cases = 0;
	for ( var i = 0, iend = data.Cases.length; i < iend; ++i ) {
		if ( data.Cases[i].Coverage === undefined ) {
			continue;
		}
		++cases;
	}
	if ( cases > 1 ) {
		%><AccordionItem state="active">
			<Label class="AccordionItemTitle" text="Combined coverage" /><%
			var files = _getCoverageFiles( data, true );
			var sorted = Object.keys( files ).sort();
			sorted.forEach( function ( file ) {
				%><Link text="<%! file %>" behavior="CoverageLink" data="<%= $bind( { file: file, lines: files[file] } ) %>" /><%
			} );
		%></AccordionItem><%
	}
%>
<%
	for ( var i = 0, iend = data.Cases.length; i < iend; ++i ) {
		var casea = data.Cases[i];
		if ( casea.Coverage === undefined ) {
			continue;
		}
		var files = _getCoverageFiles( data, i );
		var sorted = Object.keys( files ).sort();
		
		%><AccordionItem<%= cases == 1 && i == 0 ? ' state="active"' : '' %>>
			<Label class="AccordionItemTitle" text="<%! casea.Name %>" /><%
			sorted.forEach( function ( file ) {
				%><Link text="<%! file %>" behavior="CoverageLink" data="<%= $bind( { file: file, lines: files[file] } ) %>" /><%
			} );
		%></AccordionItem><%
	}
%>
</Accordion>
</Template></script>






<script type="template/docviewjs" id="Tmpl.SourceView"><Template>
<PanelTitle layout="HorizontalFlex">
	<Label class="fill no-overflow-x" id="title" />
	<Button text="open..." state="small<%= Argv.remotemode ? ' disabled' : ''  %>" behavior="OpenSourceButton" />
</PanelTitle>
<CodeBlock class="fill" id="code" />
</Template></script>




<script type="template/docviewjs" id="Tmpl.Echoes">
<% 
	data.forEach( function ( echo ) {
		if ( echo instanceof Object ) { echo = JSON.stringify( echo ); }
		%><pre class="echo"><%! echo %></pre><%
	} );
%>
</script>





<script type="template/docviewjs" id="Tmpl.Error">
<div class="error">
	<div class="code"><%! data.Code %></div>
	<% if ( data.Details && data.Details.Error ) {
		var err = data.Details.Error;
		var scriptline = undefined;
		if ( err.File != data.Script ) {
			if ( err.Trace ) {
				for ( var i = 0; i < err.Trace.length; ++i ) {
					var trace = err.Trace[i];
					if ( trace.file == data.Script ) {
						scriptline = trace.line;
						break;
					}
				}
			}
			if ( scriptline == '' && err.ExceptionTrace ) {
				for ( var i = 0; i < err.ExceptionTrace.length; ++i ) {
					var trace = err.ExceptionTrace[i];
					if ( trace.file == data.Script ) {
						scriptline = trace.line;
						break;
					}
				}
			}
		} %>
		<div class="errdetails">
			<%! err.Type %>: <%! err.File %>@<%! err.Line %>
			<% if ( scriptline ) { %>
				(@line <span class="line"><%! scriptline %></span>)
			<% } %>
			<% if ( err.Trace ) { %>
				<view:button state="tiny" behavior="TraceButton" data="<%= $bind( err.Trace ) %>" class="some-margin-left" text="trace"></view:button>
			<% } %>
			<% if ( err.ExceptionTrace ) { %>
				<view:button state="tiny" behavior="TraceButton" data="<%= $bind( err.ExceptionTrace ) %>"  class="small-margin-left" text="exception"></view:button>
			<% } %>
		</div>
	<% } %>
	<% if ( data.Value || err.Value ) { %>
	<pre class="value"><%! data.Value || err.Value %></pre>
	<% } %>
</div>
</script>





<script type="template/docviewjs" id="Tmpl.Cases">
<% data.forEach( function ( casea, i ) { %>
	<div class="case<%= casea.Failed ? ' failed' : '' %>">
		<%= casea.Name ? casea.Name : casea.Name = 'unnamed '+(i+1) %>
		<% if ( casea.Failed ) { %>
			@line <span class="line"><%= casea.Failed.Details.Line %></span>
			<%= $TT( 'Tmpl.Error', casea.Failed ) %>
		<% } %>
	</div>
<% } ); %>
<div class="clear"></div>
</script>



<script type="template/docviewjs" id="Tmpl.Ie9">
<HtmlArea class="vfill">
	<div class="alert error align-center" style="margin-top: 4em; max-width: 50%;">
		<h4>Your browser is not supported.</h4>
		<p>This application requires recent browser.
		Internet Explorer 10 is the minimum supported
		version of this browser.</p>
	</div>
</HtmlArea>
</script>



<script type="template/docviewjs" id="Tmpl.Title">
	<View class="AccordionItemTitle">
		<Label text="<%! data.Script + ( data.Args ? ': ' + data.Args : '' ) %>" />
		<% if ( data.Url ) { %>
			<Button
					state="tiny"
					class="some-margin-left"
					text="extract..."
					behavior="ExtractButton"
					data="<%= $bind( data.Url ) %>"
			/>
		<% } %>
		<% if ( data.Coverage ) { %>
			<Button 
					state="tiny"
					class="some-margin-left"
					behavior="CoverageButton"
					text="coverage"
					data="<%= $bind( data.Result ) %>" 
			/>
		<% } %>
	</View>
</script>







<script type="text/javascript" src="/view/utils.js"></script>
<script type="text/javascript" src="/view/highlight.js/highlight.pack.js"></script>
<script type="text/javascript" src="/view/SourceView.js"></script>
<script type="text/javascript" src="/view/TraceView.js"></script>
<script type="text/javascript" src="/view/CoverageView.js"></script>
<script type="text/javascript" src="/view/main.js"></script>