.AppView {
	overflow: visible;
}

body {
	overflow: initial;
}

#Exit {
	opacity: 0.3;
	position: fixed;
	bottom: 5px;
	right: 5px;
	/*transition: opacity 0.3s;*//*not working right over scrollbar in chrome*/
}

#Exit:hover {
	opacity: 1;
}

#Tests .AccordionItem {
	margin: 5px;
}

#Tests .AccordionItem pre {
	overflow-x: auto;
}

#Tests .AccordionItem .echo + .echo {
	margin-top: 5px;
}

#Tests .AccordionItem .echo {
	margin: 0;
	padding: 3px 5px;
}

#Tests .AccordionItem .error .value {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border-width: 0;
	color: inherit;
	font-size: 14px;
}

#Tests .AccordionItem .case .error .code {
	margin-top: 1em;
}

#Tests .AccordionItem .line {
	font-weight: bold;
}

#Tests .AccordionItem .case:not(.failed) {
	float: left;
}

#Tests .AccordionItem .View > .error,
#Tests .AccordionItem .case {
	border-width: 1px;
	border-style: solid;
	padding: 3px;
	margin-top: 3px;
	border-radius: 4px;
}

#Tests .AccordionItem .case + .case {
	margin-left: 5px;
}

#Tests .Accordion + .Accordion {
	clear: both;
}

#Tests .AccordionItem.active {
	clear: both;
}

#Tests .AccordionItem.active ~ .AccordionItem:not(.active) {
	margin-top: 0;
}

#Tests .AccordionItem:not(.active) {
	float: left;
}

#Tests .AccordionItemTitle > .Label {
	font-weight: bold;
}

#Tests .AccordionItem:not(.active) > .AccordionItemTitle > .Button {
	display: none;
}

div.clear {
	clear: both;
}

#Tests {
	padding: 5px;
}

#Panels {
	height: 100%;
}

#Panels:not(.active) {
	display: none;
}

#Panels.active + #Tests {
	display: none;
}

#Panels > .Panel {
	-webkit-flex: 1 0 0;
	    -ms-flex: 1;
	        flex: 1 0 0;
}

/*fix for mozilla*/
#Panels .PanelTitle > .Label > .Txt {
	white-space: nowrap;
}

#Panels .Panel > .View:not(.PanelHeader) {
	overflow: auto;
}

#Panels > .Panel:first-child {
	margin: 10px 5px 10px 10px;
}

#Panels > .Panel:last-child {
	margin: 10px 10px 10px 5px;
}

.SourceView .CodeBlock:not(.active) {
	display: none;
}

.TraceView .CodeBlock {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-width: 0;
}